# This is Git's per-user configuration file.
[user]
	name = TR Jordan
	email = terral.jordan@gmail.com
[branch]
	autosetuprebase = always
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = code
[alias]
        st = status
        stat = status
        tree = log --oneline --graph --all
[push]
	default = tracking
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
