[user]
	name = TR Jordan
	email = tr@10stories.co
[branch]
	autosetuprebase = always
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = emacs
[alias]
        st = status
        stat = status
        tree = log --oneline --graph --all
[push]
	default = tracking
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
